.container {
  margin: 0 auto;
  padding: 20px;
  font-family: "Ibarra Real Nova", serif;

  color: #264bf0;
}
#celsius,
#fahrenheit {
  color: #264bf0;
}
h2 {
  text-align: right;
  margin-right: 45px;
  font-weight: 900;
  font-size: 40px;
}
.emoji {
  text-align: right;
}
p {
  display: block;
  padding: 0 10px 10px 170px;
  font-family: "Ibarra Real Nova", serif;
  color: #264bf0;
}
